#CalendarControlIFrame {
  display: none;
  left: 0px;
  position: absolute;
  top: 0px
  height: 250px;
  width: 250px;
  z-index: 99;
}

#CalendarControl {
  position:absolute;
  background-color:#FFF;
  margin:0;
  padding:0;
  display:none;
  z-index: 100;
}

#CalendarControl table {
  font-family: arial, verdana, helvetica, sans-serif;
  font-size: 8pt;
  border-left: 1px solid #386383;;
  border-right: 1px solid #386383;
}

#CalendarControl th {
  font-weight: normal;
}

#CalendarControl th a {
  font-weight: normal;
  text-decoration: none;
  color: #FFF;
  padding: 1px;
}

#CalendarControl td {
  text-align: center;
}

#CalendarControl .header {
  background-color: #666666;
}

#CalendarControl .weekday {
  background-color: #DDDDDD;
  color: #000;
}

#CalendarControl .weekend {
  background-color: #666666;
  color: #FFF;
}

#CalendarControl .current {
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background-color: #E10005;
  color: #FFF;
}

#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {
  display: block;
  text-decoration: none;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding:3px;
}

#CalendarControl .weekday:hover,
#CalendarControl .current:hover {
  color: #FFF;
  background-color: #666666;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

#CalendarControl .weekend:hover {
  color: #000000;
  background-color: #DDDDDD;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

#CalendarControl .previous {
  text-align: left;
}

#CalendarControl .next {
  text-align: right;
}

#CalendarControl .previous,
#CalendarControl .next {
  padding: 1px 1px 1px 1px;
  font-size: 1.0em;
}

#CalendarControl .previous a,
#CalendarControl .next a {
  color: #FFF;
  text-decoration: none;
}

#CalendarControl .head {
  text-align: center;
  font-size:10px;
  color: #FFFFFF;
}

#CalendarControl .empty {
  display: block;
  text-decoration: none;
  background-color: #CCC;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  padding:3px;
}
