/* CSS Document */

DIV.menuBar {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; COLOR: #000000; 
	FONT-STYLE: normal; 
	font-family:Arial, Helvetica, Sans-serif
}
DIV.menuBar A.menuButton {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; COLOR: #000000; 
	FONT-STYLE: normal; 
	font-family:Arial, Helvetica, Sans-serif
}
DIV.menu {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; COLOR: #FFF; 
	FONT-STYLE: normal; 
	font-family:Arial, Helvetica, Sans-serif;
}
DIV.menu A.menuItem {
	FONT-SIZE: 8pt; COLOR: #FFF; 
	FONT-STYLE: normal; 
	font-family:Arial, Helvetica, Sans-serif
}
DIV.menuBar {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 2px; 
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 4px; 
	BACKGROUND-COLOR: #666; 
	TEXT-ALIGN: left
}
DIV.menuBar A.menuButton {
	PADDING-RIGHT: 6px; 
	PADDING-LEFT: 6px; 
	Z-INDEX: 100; 
	LEFT: 0px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 1px; 
	COLOR: #333; 
	PADDING-TOP: 2px; 
	POSITION: relative; TOP: 0px; 
	BACKGROUND-COLOR: transparent; 
	TEXT-DECORATION: none
}
DIV.menuBar A.menuButton:hover {
	COLOR: #000000; 
	BORDER-BOTTOM: #666 1px outset; 
	BACKGROUND-COLOR: transparent
}
DIV.menuBar A.menuButtonActive {
	LEFT: 1px; 
	COLOR: #333; 
	TOP: 1px; 
	BACKGROUND-COLOR: #000000
}
DIV.menuBar A.menuButtonActive:hover {
	LEFT: 1px; 
	COLOR: #ffffff; 
	TOP: 1px; 
	BACKGROUND-COLOR: #AEC8DC
}
DIV.menu {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	Z-INDEX: 101; 
	LEFT: 0px; 
	VISIBILITY: hidden; 
	PADDING-BOTTOM: 1px; 
	PADDING-TOP: 0px; 
	POSITION: absolute; 
	TOP: 0px;
	color:#ffffff;
	background-color:#666666; /*Default Sub Menu Background Color3D77CB*/ 
}
DIV.menu A.menuItem {
	PADDING-RIGHT: 0px; 
	DISPLAY: block; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 3px; 
	CURSOR: default; 
	COLOR: #000; /*Change font color for Submenu*/
	PADDING-TOP: 3px; 
	WHITE-SPACE: nowrap; 
	TEXT-DECORATION: none;
	color:#ffffff;
	border-bottom:solid 1px #FFFFFF;/*5286D1*/
}
DIV.menu A.menuItem:hover {
	COLOR: #fff; 
	cursor:hand;
	BACKGROUND-COLOR: #ff0000; /*Change SubMenu bg color on Mouse over528BDE*/
}
DIV.menu A.menuItemHighlight {
	COLOR: #FFF; 
	BACKGROUND-COLOR: #666666; /*Change the Parent Background Color528BDE*/
}
DIV.menu A.menuItem SPAN.menuItemText {
	
}
DIV.menu A.menuItem SPAN.menuItemArrow {
	font-size:10px;
	MARGIN-RIGHT: 1px;
}
DIV.menu DIV.menuItemSep {
	MARGIN: 4px 2px; 
}