@import "calendar.css"; /*imports Calendar Styles - Please do not remove*/

body, table, p, span {
	margin:0px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	
	scrollbar-track-color:#FFF; 
	scrollbar-base-color:#FFF; 
	scrollbar-arrow-color:#FFF; 
	scrollbar-3dlight-color:#FFF; 
	scrollbar-shadow-color:#FFF; 
	scrollbar-darkshadow-color:#FFF; 
	scrollbar-face-color:#999; 
	scrollbar-highlight-color:#FFF;
	cursor:default;
}

/*Login & Log Information*/

.login_panel {
	background-image:url(../images/login_bg.gif);
	background-repeat:no-repeat;
	width:400px;
	height:250px;
}

.loginfo {
	font-weight:bold;
	vertical-align:top;
	padding:5px 5px 0px 3px;
	text-align:right;
}

.login_form_panel {
	vertical-align:top; padding:20px 5px 0px 5px;
}

.form_login_title {
	font-weight:bold;
	padding:3px 3px 3px 0px;
	text-align:right;
}

.form_login_field {
	font-weight:bold;
	padding:1px 3px 1px 1px;
}

.login_tbox {
	background-color:transparent;
	border:solid 1px #999;
	width:100%;
}

.paginators {
	font-size:11px; text-align:right; padding:2px 3px 2px 0px; }
	.paginators a:link { color:#0000FF; text-decoration:none; }	.paginators a:visited { color:#0000FF; text-decoration:none; }	.paginators a:hover { color:#FF0000; text-decoration:none; }



.list_title_base_start {
	background-color:#F6F6F6;
	font-size:11px;
	font-weight:bold;
	text-transform:capitalize;
	border-bottom:solid 1px #A1A5AC;
	padding:3px 2px 3px 5px;
}



.login_button {
	background-color:#999999; border:solid 1px #333; color:#FFFFFF; font-weight:bold;
}

/*Top Page Styles*/

.tabpane {
	background-image:url(../images/tab_bg.gif);
}


.tabon {
	background-image:url(../images/tabcon.gif);
	background-repeat:no-repeat;
	background-color:#CCC;
	border-right:solid 1px #AAA;
	font-weight:bold;
	color:#333;
	text-align:center;
	padding:3px 3px 3px 3px;
	cursor:pointer;
	text-align:center;
} .tabon a:link { color:#333; text-decoration:none; } .tabon a:visited { color:#333; text-decoration:none; } .tabon a:hover { color:#333; text-decoration:none; }

.taboff {
	background-image:url(../images/tabcon.gif);
	background-repeat:no-repeat;
	background-color:#EDEDED;
	color:#666;
	border-bottom:solid 1px #FFF;
	border-left:solid 1px #FFF;
	text-align:center;
	padding:3px 3px 3px 3px;
	cursor:pointer;
	text-align:center;
} .taboff a:link { color:#666; text-decoration:none; } .taboff a:visited { color:#666; text-decoration:none; } .taboff a:hover { color:#666; text-decoration:none; }


.listdata {
	
	padding:3px 0px 3px 0px;
	border-left:solid 1px #F6F6F6;
	cursor:default;
}

/*Left Panel*/

.leftpanel {
	background-color:#F9F9F9;
	vertical-align:top;
	border-right:solid 1px #CCC;
	padding:0px 0px 0px 0px;
	width:20%;
}

/*Menu Items*/
a:link { color:#0000FF; text-decoration:none; }
a:visited { color:#0000FF; text-decoration:none; }
a:hover { color:#C80000; text-decoration:none; }

.menubg {
	background-color:#386383;
	border-top:solid 2px #386383;
	border-bottom:solid 2px #386383;
	border-left:solid 2px #386383;
	border-right:solid 0px #386383;
}

.m1CL0,.m1CL0:link { 
	text-decoration:none;
	width:100%;
	color:#003366; 
}
.m1CL0:visited {
	color:#003366;
}
.m1mit {
	font-family:Arial, Helvetica, Sans-serif;
	padding:3px 15px 3px 15px;
	font-weight:bold;
	border-right:solid 1px #FFF;
	color:#999999; 
    font-size:11px;
	background-color:#AEC8DC;
}

.page_title_navigation {
	padding:0px 0px 3px 0px;
	margin:0px 0px 5px 0px;
	border-bottom:solid 2px #F38809;
	text-align:right;
}

.navigation_right {
	padding:3px 5px 3px 0px;
	text-align:right;
}

/*Content Area*/
.contentarea {
	padding:5px;
	vertical-align:top;
}

.page_title {
	color:#666;
	font-size:16px;
	font-weight:normal;
	padding:3px 0px 3px 5px;
	margin:0px 0px 5px 0px;
	border-bottom:solid 2px #F38809;
}

.FilterTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	cursor:hand;
	background-image:url(../images/filterbg.gif);
}
#FilterTip {
	background-image:url(../images/filtertip.gif);
}
#FilterEnd {
	background-image:url(../images/filterend.gif);
}

h1 {
	color:#666;
	font-size:18px;
	font-weight:normal;
	padding:0px 0px 3px 0px;
	margin:0px 0px 5px 0px;
	border-bottom:solid 2px #F38809;
}

h2 {
	font-size:11px;
	font-weight:bold;
	border-top:solid 1px #FFF;
	border-bottom:solid 2px #CCC;
	padding:3px 0px 3px 5px;
	margin-bottom:5px;
	margin-top:5px;
}
.filter td { /*Apply this style only to the <Table class="filter"> tag*/
	background-color:#EDEDED;
	border-bottom:solid 1px #BBB;
	border-top:solid 1px #FFF;
	padding:1px 2px 1px 3px;
}

.tbldatadeletedRow td {
	border-bottom:solid 1px #DDD;
	padding:3px 0px 5px 5px;
	border-left:solid 1px #FCFCFC;
	border-bottom:solid 1px #F6F6F6;
	cursor:default;
	color:#990218;	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
}

/*Table Indent Items*/

.table_title_checked {
	background-color:#F1F1F1;
	border-bottom:solid 2px #CCC;
	border-top:solid 1px #CCC;
	padding:0px 2px 0px 2px;
}
.table_title {
	background-color:#F1F1F1;
	border-bottom:solid 2px #CCC;
	border-top:solid 1px #CCC;
	font-weight:bold;
	padding:3px 2px 3px 3px;
}
.table_sub_indent {
	margin-left:10px;
}
.table_sub_title_checked {
	border-bottom:solid 1px #CCC;
	padding:0px 2px 0px 2px;
}
.table_sub_title {
	border-bottom:solid 1px #CCC;
	font-weight:bold;
	padding:3px 2px 3px 3px;
}
.table_data_indent_10 {
	margin-left:10px;
}
.table_data_indent_20 {
	margin-left:20px;
}
.table_data_checked {
	border-bottom:solid 1px #F6F6F6;
	padding:0px 2px 0px 2px;
}
.table_data {
	border-bottom:solid 2px #F6F6F6;
	border-left:solid 2px #F6F6F6;
	padding:3px 2px 3px 3px;
}

/*List Items*/

.list_title_start { /*This Style is for the First Column of the Title's */
	background-color:#F6F6F6;
	border-top:solid 3px #CCC;
	border-bottom:solid 1px #CCC;
	color:#666666;
	font-weight:bold;
	padding:3px 0px 3px 5px;
	cursor:default;
}

.list_title_checked { /*This Style is for the Checkbox cell in the Title Section*/
	background-color:#C0C0C0;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #666666;
	border-bottom:solid 1px #666666;
	border-top:solid 1px #FFFFFF;
	text-align:center;
}

.list_title {
	background-color:#C0C0C0;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #666666;
	border-bottom:solid 1px #666666;
	border-top:solid 1px #FFFFFF;
	color:#444444;
	font-family:Verdana,Arial, Helvetica;
	font-size:11px;
	font-weight:bold;
	text-align:center;
	padding:4px 3px 3px 3px;
}
.list_content {
	border-left:solid 1px #DDD;
	border-bottom:solid 1px #CCC;
	padding:3px 0px 3px 4px;
	cursor:default;
}
.list_content1 {
	border-left:solid 1px #DDD;
	border-bottom:solid 1px #CCC;
	padding:3px 0px 3px 5px;
	cursor:default;
}

.list_title_sale {
	background-color:#F6F6F6;
	border-top:solid 3px #CCC;
	border-bottom:solid 1px #CCC;
	border-left:solid 1px #DDD;
	color:#D60309;
	font-weight:bold;
	padding:3px 0px 3px 5px;
	cursor:default;
}

.list_title_base {
	background-color:#F6F6F6;
	border-bottom:solid 1px #CCC;
	border-left:solid 1px #DDD;
	color:#666666;
	font-weight:bold;
	padding:3px 0px 3px 0px;
	cursor:default;
}

.list_title_base1 {
	background-color:#EFF7FF;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
	border-left:solid 1px #DDD;
	color:#666666;
	font-weight:bold;
	padding:3px 0px 3px 0px;
	cursor:default;
}

.list_title_base_sale {
	background-color:#F6F6F6;
	border-bottom:solid 1px #CCC;
	border-left:solid 1px #DDD;
	color:#D60309;
	font-weight:bold;
	padding:3px 0px 3px 5px;
	cursor:default;
}

.list_data_start {
	border-bottom:solid 1px #DDD;
	padding:3px 0px 5px 0px;
	cursor:default;
}

.list_data_checked { /*This Style is for the Checkbox cell in the data Section*/
	border-bottom:solid 1px #F6F6F6;
	padding:1px 2px 1px 2px;
	cursor:default;
}

.list_data_table { /*Apply this style only to the <Table class="list_data_table"> tag*/
	border-bottom:solid 2px #CCC;
	margin-bottom:5px;
	cursor:default;
}

.list_data {
	padding:3px 0px 5px 0px;
	border-left:solid 1px #F6F6F6;
	border-bottom:solid 1px #DDD;
	cursor:default;
	background-color:#FFFFFF;
}

.admin_listdata_title {
	padding:2px 5px 2px 5px;
	border-left:solid 1px #F6F6F6;
	border-right:solid 1px #F6F6F6;
	border-bottom:solid 1px #DDD;
	border-top:solid 1px #DDD;
	background-color:#FCFBFB;
	font-family:Arial, Helvetica, sans-serif,;
	font-weight:bold;
	cursor:default;
}
.admin_listdata {
	padding:2px 5px 2px 5px;
	border-left:solid 1px #ECEBEB;
	border-right:solid 1px #ECEBEB;
	border-bottom:solid 1px #ECEBEB;
	cursor:default;
}
.list_data_valid {
	border-bottom:solid 1px #DDD;
	padding:3px 0px 5px 5px;
	border-left:solid 1px #F6F6F6;
	cursor:default;
	color:#008000;
}

.list_data_field {
	font-size:11px;
	text-transform:capitalize;
	border-bottom:dashed 1px #EEE;
	border-left:dashed 1px #CCC;
}

.list_data_sale {
	border-bottom:solid 1px #DDD;
	padding:3px 0px 5px 5px;
	border-left:solid 1px #F6F6F6;
	cursor:default;
	color:#D60309;
}
.list_sort_item td{ /*Specify this class in the <table> tag*/
	padding:2px 3px 2px 5px;
	cursor:default;
}

.list_sort {
	text-align:right;
	padding:2px 5px 3px 0px;
	cursor:default;
}

/*Footer Frame*/
.copyright{
	background-color:#666;
	border-top:solid 1px #666;
	color:#FFFFFF;
	padding:3px 10px 4px 0px;
	cursor:default;
}


/*Form Items*/

select, input, textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

fieldset {
	font-size:11px;
	font-weight:bold;
	padding:5px;
	margin:5px 0px 5px 0px;
}
legend {
	font-size:11px;
	font-weight:bold;
	margin:5px 0px 5px 0px;
}

.textbox_plain_full_length {
	width:100%;
	border:solid 0px;
	cursor:text;
}

.textbox_plain {
	border:solid 0px;
	cursor:text;
}

.tbox_full_length {
	width:100%;
	cursor:text;
}


.button_sub_internal {
	background-color:#DDDDDD;
	cursor:pointer;
}

.button_internal {
	background-color:#AEC8DC;
	font-weight:bold;
	cursor:pointer;
}

.button_external {
	border:ridge 1px #FFF;
	background-color:#F38809;
	font-weight:bold;
	color:#FFFFFF;
	cursor:pointer;
}

.form_btn_table {
	padding:3px;
	margin-top:5px;
	border-top:solid 2px #BBB;
}

.form_title {
	text-align:right;
	padding:3px 3px 3px 1px;
	background-color:#EDEDED;
	border-bottom:solid 1px #FFF;
}

.form_title_bold {
	font-weight:bold;
	text-align:right;
	padding:3px 3px 3px 1px;
	background-color:#EDEDED;
	border-bottom:solid 1px #FFF;
}
.form_label {
	font-size:11px;
	font-weight:bold;
	padding:3px 3px 3px 3px;
}

.form_field {
	font-size:11px;
	padding:2px 2px 2px 3px;
}

.text_box {
	font-size:11px;
	padding:1px 2px 1px 2px;
	width:125px;
}

.form_data { /*This style is for normal data in the view pages*/
	padding:3px 1px 3px 3px;
}
.form_data_bold { 
	font-weight:bold;
	padding:3px 1px 3px 3px;
}

.form_fieldata {
	padding:1px 2px 1px 2px;
}

.form_btn_table {
	border-top:solid 2px #DDD;
	padding:3px;
	margin-top:5px;
}

.loginfldtitle {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:3px;
}

.tbltitlebold {
	background-color:#EFEFEF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	padding:3px;
	border-bottom:solid 1px #FFFFFF;
}

.fieldataHoliday {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:2px;
	color:red;
}

.fieldata {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:2px;
}

.list_data_row_highlight {
	border-bottom:solid 1px #DDD;
	padding:3px 0px 5px 5px;
	cursor:default;
	color:386383;
	background-color:AEC8DC;
}
.active{
background-color:#E1EBF3;
}
.access_rights{
	border-left:solid 1px #DDD;
	border-right:solid 1px #DDD;
	border-bottom:solid 1px #DDD;
	padding:12px 22px 12px 22px;
}

.sort {
	background-color:#EFEFEF;
	font-family:Verdana,Arial, Helvetica;
	font-size:10px;
	text-align:center;
	padding:2px;
}
.sort a:link { color:#000000; text-decoration:none; } .sort a:visited { color:#000000; text-decoration:none; } .sort a:hover { color:Red; text-decoration:none; }

.noRecords{
	color:#D8D8D8;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
}

/* Table Header Static */
.staticHeader 
{
   position:relative ; 
   top:expression(this.offsetParent.scrollTop-1); 
}
